html {
    scroll-behavior: smooth;
  }

  a{
      text-decoration: none;
      color: inherit;
  }

.home{
    text-align: center;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;

    .description{
        color: whitesmoke;
        text-align: center;
        width: 100%;
        font-size: 2rem;
        padding: 20px;
    }
}

.intro{
    // background-color: rgba(255, 255, 255, 0.363);

    .cont{
        padding: 40px;
        margin:auto;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        animation-name: info-cont;
        animation-fill-mode: forwards;
        animation-duration: 2s;
        animation-delay: 4s;
    }
    @keyframes info-cont {
        from{
            margin-top: 0%; 
        }
        to{
            margin-top: -15%;
        }
    }
    .action{
        .action-btn{
            // background-color: yellow
            padding: 10px;
            font-weight: bold;
            font-size: larger;
            border: 2px solid rgba(196, 196, 36, 0.856);
            border-radius: 4px;
            background-color: inherit;
            a{
                color: whitesmoke;
                transition: color 1s;
                text-decoration: none;
            }
            opacity: 0;
            animation-name: action-apear;
            animation-fill-mode: forwards;
            animation-duration: 2s;
            animation-delay: 3.5s;
            background-image: none;
            transition: all 1s;
        }

        .action-btn:hover{
            background-image: linear-gradient(45deg, rgba(196, 196, 36, 0.856),wheat);
            a{
                color: black;
            }
        }

        @keyframes action-apear {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
    }
}